* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

p {
    font-size: 16px;
    padding: 10px;
}

a:link,
a:active,
a:visited {
  color: black;
  text-decoration: none;
}

button:link,
button:active,
button:visited,
button:clicked {
    text-decoration: none;
}

button {
    color: white;   
    margin: 10px;
    width: 200px;
    height: 50px;
    border-width: 3px;
    border-style: solid;
    border-color: white;
    background-color: transparent;
}

ul {
    list-style-type: none;
}

li {
    margin: 10px;
}

h1 {
    margin-top: 30px;
    margin-bottom: 10px;
    padding-left: 10px;
}

header {
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-position: top; 
    background-size: auto;
    padding: 10px;
}

header {
    background-image: url("../images/header.jpg");
}

#navbar {
    height: 200px;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    margin: 20px;
}

.smallicons {
    margin: 5px;
    max-height:35px;
    float: right;
}

#dropdownbutton {
    height: auto;
    float: left;
}
/*dropdown trigger*/
#dropdownnav,
nav {
    display: none;
}

#dropdownnav:checked + nav {
    display: block;
    position: absolute;
    top: 45px;
    background-color: white;
    padding: 10px;
    height: 555px;
    z-index: 100;
}

#logo {
    width: 200px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


#headercaption {
    position: relative;
    top: 55%;
    text-align: left;
    float: left;
    color: white;
    padding-left: 10px;
}

main {
    width: auto;
}

#writinginstruments {
    width: 100%;
}

.writinginstrumentscontainer {
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-position: bottom; 
    background-size: auto;
    background-color: #F0F0F0;
}

.writinginstrumentscontainer h2 {
    text-align: center;
    position: relative;
    top: 97%;
    transform: translateY(-100%);
}

#ballpoint {
    background-image: url("../images/ballpoint.png");
}

#rollerball {
    background-image: url("../images/rollerball.png");
}

#fountain {
    background-image: url("../images/fountain.png");
}

#fineliner {
    background-image: url("../images/fineliner.png");
}

#newscaption {
    width: 100%;
    padding-top: 1px;
    padding-left: 20px;
    height: 400px;
    position: relative;
    top: 55%;
    text-align: left;
    float: left;
    color: white;
}

#newsimage {
    background-image: url("../images/newsimage.jpg");
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-position: top; 
    background-size: auto;
}

#boutiques {
    background-image: url("../images/boutiques.jpg");
    width: auto;
    height: 400px;
    background-repeat: no-repeat;
    background-position: top; 
    background-size: auto;
}

#map {
    position: relative;
    top: 25%;
    padding-left: 20px;
    text-align: left;
    float: left;
    color: black;
    padding-bottom: 0;
}

#explore {
    border-color: black;
    color: black;
}

footer {
    height: 10%;
    width: 100%;
    background-color: #101010;
    color: white;
    overflow: hidden;
    padding: 5px;
    float: none;
}

footer p {
    display: block;
}

/*tablet size*/
@media screen and (min-width: 376px) and (max-width: 768px) {
    #writinginstruments {
        margin-left: 2%;
    }
    .writinginstrumentscontainer {
        width: 46%;
        float: left;
        margin: 1%;
    }
}

/*pc*/
@media screen and (min-width: 769px) {
    #writinginstruments {
        margin-left: 2.5%;
    }
    .writinginstrumentscontainer {
        width: 22%;
        height: 300px;
        float: left;
        margin: 1%;
        background-position: 40% 100%;
    }
}